extends ./layout/index


block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Aliquam sit amet nibh lectus. Mauris nulla velit, feugiat eget lectus sit amet, bibendum pellentesque nibh. Phasellus nec mattis lorem. Proin quis turpis ac nibh ullamcorper sodales. Ut a turpis non purus hendrerit venenatis a in libero. Curabitur at ultrices sem. Aliquam pretium iaculis dictum. Nulla lacinia ultrices elit, at consectetur ante pharetra quis. Donec fringilla leo dolor, a efficitur est sodales a.
                 Sed ultrices cursus nibh eget malesuada. Nullam eu feugiat mi

                p Mauris faucibus, neque aliquet consectetur pharetra, ipsum justo placerat velit, sit amet finibus lectus turpis ut est. Integer non nulla eget tellus luctus scelerisque at vel urna. Aliquam a vulputate nulla. Aenean efficitur lobortis dui quis ullamcorper. Donec id porta erat. Maecenas quis eleifend metus, id pellentesque urna. Phasellus nec volutpat dui. Maecenas porttitor quam id sapien tristique gravida. Sed urna felis, volutpat efficitur interdum nec, fermentum at mi. Nulla iaculis lacus vel ex condimentum euismod. Mauris mi odio, gravida euismod lectus quis, pharetra vestibulum dui. Praesent lacus ante, convallis eu fringilla ullamcorper, auctor id sapien. Fusce ornare, augue vitae lacinia vulputate, justo ante tempus justo, id imperdiet urna diam id orci. Nullam diam sem, sagittis eget ex dignissim, tincidunt pellentesque velit. Aliquam varius est eget mauris vulputate vehicula. Nulla pretium quam metus, eu egestas metus condimentum at.

                p Praesent ac rutrum tortor, dictum consequat nisl. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla pharetra sodales tincidunt. Donec lectus arcu, rhoncus id viverra eget, congue ac metus.

    .listado-iconos  
        .container.mt-5.py-5.text-center 
            .row
                 .col-md-4     
                    img(src="img/icono_seguridad.svg", alt="Seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Praesent ac rutrum tortor, dictum consequat nisl. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla pharetra sodales tincidunt. Donec lectus arcu, rhoncus id viverra eget, congue ac metus.
                 
                 .col-md-4     
                    img(src="img/icono_destinos.svg", alt="Destinos",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Praesent ac rutrum tortor, dictum consequat nisl. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla pharetra sodales tincidunt. Donec lectus arcu, rhoncus id viverra eget, congue ac metus.

                 .col-md-4     
                    img(src="img/icono_precios.svg", alt="Destinos",class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Praesent ac rutrum tortor, dictum consequat nisl. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla pharetra sodales tincidunt. Donec lectus arcu, rhoncus id viverra eget, congue ac metus.